<head>
 <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 
<h1 class="center">Enter your amount:</h1>

<form method = "post" action = "change">
    <input type = "number" name = "amount">
    <input type = "submit" value = ">>>>">
</form>
<br>
<p class ="center"><%= value %></p> <!--pulls back the vairables-->