<head>
 <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 
<center><h1>Enter your amount:</h1><center>

<form method = "post" action = "change">
    <center><input type = "number" name = "amount"></center>
    <center><input type = "submit" value = ">>>>"></center>
</form>
<br>
<%= value %>