<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
   <div class="footer">CoinChange.org</div>
   <div class="center">
    <div class="bg_color"> 
      <h1 class ="center blue">Change Coins</h1>
       <div class="center">
         <a style ="color: #ffcc99" href = '/'>Restart</a>
       </div>
     </div>
   </div>
 </div> 
<br><br>
<br>
<p class ="center"<%=yield%></p> <!--pulls backs the views-->
<!--<div class="center">
<img src="/img/coins.jpg" height="40%" width="40%">
</div>-->
</body>
</html>