<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="center"> <!--it center the functins-->
    <div class="bg_color outside "> <!--it puts boder under the header--> 
      <h1 class ="center blue">Change Coins</h1> 
        <div class="center">
         <a style ="color: #ffcc99" href = '/'>Restart</a>
           <div class="footer">CoinChange.org</div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div> 
<br><br>
<br>
<p class ="center"<%=yield%></p> <!--pulls backs the views-->
<!--<div class="center">
<img src="/img/coins.jpg" height="40%" width="40%">
</div> -->
<div>
  <h1>PAGE DETAILS</h1>
  <p>If you want to change the bills in coins.</p>
  <p>This is the right place for you.</p>
  <p>Enjoy with coin changer.</p>
  <a href="https://www.github.com/subbat9710/w6class">Visit More Here</a>
<article>
<div>
  <h1>COINS VALUES</h1>
  <li>One Quarter = 25 Cents</li>
  <li>One Dime = 10 Cents</li>
  <li>One Nickel = 5 Cents</li>
  <li>One Penny = 1 Cents</li>
</div> 
</article>
 </div>
</div>
</body>
</html>