<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <!-- <div class="center"> it center the functins -->
    <div class="bg_color outside "> <!--it puts boder under the header--> 
      <div class ="header"><h2>Change Coins</h2></div> 
    </div>
    <p>
        <div class="restart">
          <a style ="color: red" href = '/'>Restart</a>
        </div>
       </div>
<br>
<p class ="center"<%=yield%></p> <!--pulls backs the views-->
</div>
</body>
</html>