/*body {
	background-color: powderblue;
}
h1 {
	color: blue;
}
h2 {
	color: red;
}*/
.center {
	text-align: center; /*puts class in the center*/
}
.blue {
	color: red;  /*color in the header*/
}
.bg_color{
	background-color: grey; /*puts background color in title*/
}

form {
	text-align: center; /*puts form in the center*/
}

.footer{ 
      background-color: grey; 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
}
body{
	background-image: url=("coin.jpg");
}