.center { 
	text-align: center;
 }
.header {
	text-align: center; /*puts class in the center*/
	color: orange;
	font-size: 25px;
	margin: 0px;
}
.restart {
	text-align: center;
	font-size: 20px;
	color: red;
}
.bg_color{
	background-color: grey; /*puts background color in title*/
	height: 60px;
	margin: 0px;
	padding: 0px;
}

form {
	text-align: center; /*puts form in the center*/
}

body {
	background-image: url("coins.jpg");
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}